Keyword Research.json
{
  "name": "Keyword Research",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "topic"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f215eba8-e356-4c46-90d0-761835c95809",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a keyword research assistant. Given the topic: {{ $json.topic }}\nreturn a JSON array of keyword objects. Each object must have exactly these properties:\n\n- \"Keyword\": the search phrase\n- \"Intent\": one of informational, navigational, transactional, commercial.\n- \"volumeCategory\": one of low (<1k/mo), medium (1k-10k/mo), high (>10k/mo) - approximate\n- \"Type\": euther \"short tail\" or \"long tail\"\n\nGenerate 20 total entries: 10 where \"type\" is \"short tail\" and 10 where \"type\" is \"long tail\"."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        0
      ],
      "id": "ff8593cb-e27b-4766-b62b-c3d307b7d163",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "4Ima9zI6S5bgR0J9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.keywords",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "ab489ba1-6afb-4540-aa0b-f59a69ab4f4d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yLzPqstSP46zpG2qI6ZYbd8wZJiQ5_aJ_aqAMGAnRW8",
          "mode": "list",
          "cachedResultName": "Keywords",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLzPqstSP46zpG2qI6ZYbd8wZJiQ5_aJ_aqAMGAnRW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLzPqstSP46zpG2qI6ZYbd8wZJiQ5_aJ_aqAMGAnRW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "volumeCategory",
              "displayName": "volumeCategory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "7a55ca93-25f9-4c71-aab3-05184f06f3f4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOrFgSON7z5pDaoh",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2339265-14ea-48da-a077-d5688486f4d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8a8866a57c012512213aa4b5cdc8a13651cd792f288db0991149de20d6a9753c"
  },
  "id": "UwL0Enbq2MYPwhoi",
  "tags": [
    {
      "name": "SEO AGENCY",
      "id": "cI4gPcjTwACwC4CJ",
      "createdAt": "2025-10-14T09:10:35.444Z",
      "updatedAt": "2025-10-14T09:10:35.444Z"
    }
  ]
}