Real Estate Support Team.json
{
  "name": "Real Estate Support Team",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b351968f-9e85-4dee-837a-21b5a580c3d4",
      "name": "When chat message received",
      "webhookId": "f3bafcc1-fbe0-4d79-8e05-9a6bb12c8b63"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ad5152e-6761-454b-bdbc-4625afb1765d",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Apex",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "55c7511d-06e5-48a4-be17-0083d478ffb7",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Role\nYou are a helpful, charming real estate assistant who answers property questions for clients. Use the \"Property Q&A\" tool to answer all questions users have about properties, listing agents, and availability-never deliver information from other sources.\n\n# Tools\n- Use the \"Property Q&A\" tool to retrieve info on property info & listing agents to answer users' questions. Gather the record's data corresponding to the user's question and summarize it in a concise reply.\n- If the user expresses interest in a property, ask for their name and email. Then, use the \"Notify an Agent\" tool to send the agent an email summarizing the following: the property they want to see, their name, and email so the agent can follow up.\n- Use the \"Update Database1\" tool to update the user's name, email, information and interests.\n- Use the calculator tool if the user asks for any numerical calculations"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        96
      ],
      "id": "40642ad6-e5bc-4319-aa6d-36ff263427cb",
      "name": "AI Client Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        304
      ],
      "id": "11ce1e66-ed70-4a62-a3bc-a608bf1178ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DlCQrte0DfhZBXjK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 99
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        304
      ],
      "id": "0c8f0852-14dd-480e-b983-8ad51a5bb747",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec",
          "mode": "list",
          "cachedResultName": "n8n Real Estate Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Properties",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Property Address",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        576,
        304
      ],
      "id": "607968b4-2471-42ce-bf01-7820af23fbe6",
      "name": "Property Q&A",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e7fvwWlkeRSNTIAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "oluwanifemiadefisayo@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        704,
        304
      ],
      "id": "1b6e3138-6713-4aaf-ac6f-54b0be371e8c",
      "name": "Notify an Agent",
      "webhookId": "386c8c34-9605-4907-8fa7-cc35a95a4fa8",
      "credentials": {
        "gmailOAuth2": {
          "id": "F0lfEWr4MOKuVtfe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        816,
        304
      ],
      "id": "9f3bfc2d-b39e-4442-9537-4ac89bea821b",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Role\nYou are an internal facing real estate assistant designed to help real estate agents with various daily tasks. You have access to 4 tools. Always respond to the user when you're finished to confirm that the task is done.\n\nFor reference, today is {{ $now }}.\n\n# Tools\n- Use the \"Update Database\" tool to update the real estate base with one record containing the given information.\n- Use the \"Book a meeting\" tool to set an event at the given time. All events are 1 hour.\n- Use the \"Client Search\" tool to find information (interests, budget, email) for a given client by name. Respond to the user with the requested info.\n- Use the \"Draft a message\" tool to compose a message to the given recipient containing the given content. Always use a concise yet friendly tone.\n- Use the calculator for accurate calculations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        -288
      ],
      "id": "4232f500-f0ea-46c2-92bd-e6107bf672b4",
      "name": "Internal AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        -80
      ],
      "id": "1befb474-0e5d-4815-a750-2a0e0584759d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DlCQrte0DfhZBXjK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 99
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        -80
      ],
      "id": "caa4061c-73d9-44d2-a9b8-4effaa5342f5",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "adefisayooluwanifemi28@gmail.com",
          "mode": "list",
          "cachedResultName": "adefisayooluwanifemi28@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        -80
      ],
      "id": "434d79d1-3a3a-4837-b59b-d4bee14cca42",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jTvm5cIJTppPt2CY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec",
          "mode": "list",
          "cachedResultName": "n8n Real Estate Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1200295260,
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec/edit#gid=1200295260"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Client Name",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        832,
        -80
      ],
      "id": "25109af9-9211-4a36-a08b-aea6a268d242",
      "name": "Client Search",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e7fvwWlkeRSNTIAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        944,
        -80
      ],
      "id": "8e5b9150-3cac-4076-84f5-d9404a170785",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1056,
        -80
      ],
      "id": "49623d23-9086-45a6-a456-c7b1c4350c51",
      "name": "Draft a Message",
      "webhookId": "6c0efa5e-72be-433c-893b-875f9f4477fc",
      "credentials": {
        "gmailOAuth2": {
          "id": "F0lfEWr4MOKuVtfe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec",
          "mode": "list",
          "cachedResultName": "n8n Real Estate Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1200295260,
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o5pRojpuQv62_rLNgYeZh-B2WRYCOu50Nd7zhzA8xec/edit#gid=1200295260"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Property Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Property_Address__using_to_match_', ``, 'string') }}",
            "Listing Agent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Listing_Agent', ``, 'string') }}",
            "Property Info": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Property_Info', ``, 'string') }}",
            "Client Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Client_Name', ``, 'string') }}",
            "Client Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Client_Email', ``, 'string') }}"
          },
          "matchingColumns": [
            "Property Address"
          ],
          "schema": [
            {
              "id": "Listing Agent",
              "displayName": "Listing Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Property Address",
              "displayName": "Property Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Property Info",
              "displayName": "Property Info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        944,
        304
      ],
      "id": "a4b05fe2-5af1-433d-a359-665175cd7894",
      "name": "Update Database1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e7fvwWlkeRSNTIAZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Internal AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Client Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Property Q&A": {
      "ai_tool": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notify an Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Internal AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Internal AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Internal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Client Search": {
      "ai_tool": [
        [
          {
            "node": "Internal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Internal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft a Message": {
      "ai_tool": [
        [
          {
            "node": "Internal AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Database1": {
      "ai_tool": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92991b3b-3640-42c6-9052-5ac0020de0d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55bbf725d80c44aa17225217581774a85db5cccf5365a2ba309a549083f66648"
  },
  "id": "SEf7cZFijzZvgo8y",
  "tags": []
}